
<div class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-3 align-self-center center">
        <button (click)="openNetoffice()" id="nff" type="button" class="btn btn-outline-light shadow">
          <fa-icon [icon]="['fas', 'desktop']" size="3x"  class=""></fa-icon>
        </button>
      </div>
    </div>    
    <div class="row justify-content-md-center mt-2">
      <div class="col col-3 align-self-center center">
        <p class="text-white">Iniciar <kbd>Netoffice</kbd></p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="float-right">
    <img src="assets/img/nff-background.jpg" width="300px" alt="">
  </div>
</footer>