
<div class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-3 align-self-center center">
        <button (click)="openNetoffice()" id="nff" type="button" class="btn btn-outline-light shadow">
          <fa-icon [icon]="['fas', 'desktop']" size="3x"  class=""></fa-icon>
        </button>
      </div>
    </div>    
    <div class="row justify-content-md-center mt-2">
      <div class="col col-3 align-self-center center">
        <p class="text-white">Iniciar <kbd>Netoffice</kbd></p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="row configBtn">
    <div class="col-4">
      <button (click)="closeSession()" type="button" class="float-left btn btn-outline-info shadow-sm">
        <fa-icon [icon]="['fas', 'sign-out-alt']" size="1x"  class=""></fa-icon>
        Finalizar Sesión 
      </button>
    </div>
    <div class="col-1">
      <button (click)="openNetofficeConfig()" type="button" class="float-left btn btn-outline-secondary shadow-sm">
        <fa-icon [icon]="['fas', 'cog']" size="1x"  class=""></fa-icon>
      </button>
    </div>
    <div class="col-1">
      <button (click)="openTaskmanager()" type="button" class="float-left btn btn-outline-secondary shadow-sm">
        <fa-icon [icon]="['fas', 'microchip']" size="1x"  class=""></fa-icon>
      </button>
    </div>
  </div>  
  
  <div class="float-right">
    <img src="https://images.netactica.com/nffcloud/nff-background.jpg" width="300px" alt="">
  </div>
</footer>