
.logo{
    background-image: url('assets/img/nff-background.jpg');
    background-repeat: no-repeat;
    background-color: #515050;
}

.center{
    text-align: center;
}

body{
    background-color: #515050;
    height: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#515050;
    color: white;
    text-align: center;
    padding: 20px;
}

.configBtn {
    position: fixed;
    left: 20px;
    bottom: 20px; 
    width: 50%;  
}

